* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: #f8f8f8;
  position: relative;
  padding: 1px;
}

#nav {
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  /* background-color: yellow;  */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monument;
  font-size: 45px;
  letter-spacing: -2px;
  position: relative;
}

#nav h1::after {
  content: "©️";
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  right: 12%;
  top: 25px;
}

#nav h1::before {
  content: "model management";
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  color: #666;
  right: 20%;
  bottom: 15px;
  letter-spacing: 1px;
}

#nav h2 {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 26px;
  font-weight: 600;
  /* background-color: red; */
}

#nav h3 {
  display: none;
}

#nav h2:nth-last-child(2) {
  width: 10%;
}

#nav h2:nth-last-child(1) {
  width: 10%;
}

#center {
  height: calc(90% - 8vw);
  width: calc(100% - 8vw);
  /* background-color: red; */
  position: relative;
  padding: 4vw;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: blue;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: calc(52% - 6vw);
  width: calc(100% - 6vw);
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: #fff;
  /* backdrop-filter: blur(10px); */
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

#over1 h1 {
  font-family: monument;
  font-size: 3vw;
}

#over1 h2 {
  font-size: 1vw;
  padding: 2.2vw 2.2vw;
  border-radius: 50%;
  border: 1px solid #fff;
  border-bottom: 5px solid #fff;
}

#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}

#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

#over2 img {
  height: 3vw;
}

#scroll {
  height: 44vh;
  /* background-color: red; */
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

#container {
  height: calc(100% - 4vw);
  width: calc(110% - 4vw);
  /* background-color: blue; */
  display: inline-block;
  /* border: 1px solid black; */
  padding: 2vw;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll img {
  /* display: none; */
  height: 95%;
  border-radius: 50%;
  width: 15%;
  margin: 1vw;
  object-fit: cover;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#alphabet {
  height: 10vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#alphabet h5 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000;
  margin-right: 2vw;
}

#alphabet h6 {
  font-size: 0.9vw;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 4px;
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: yellow; */
  transition: all ease 2s;
}

#alphabet h6:hover {
  border: 1px solid #000;
}

#page2 {
  height: calc(100% - 4vw);
  width: calc(100% - 10vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}

#page2-part1 {
  height: 100%;
  width: 50%;
  background-color: yellow;
  background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWwlMjB3b21hbnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
}

#page2-part2 {
  height: 60%;
  width: 46%;
  background-color: red;
  background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWwlMjB3b21hbnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  align-self: flex-start;
}

#page3 {
  height: calc(100% - 10vw);
  width: calc(100% - 8vw);
  /* background-color: red; */
  position: relative;
  padding: 5vw 4vw;
}

#page3 > h1 {
  text-align: center;
  font-family: monument;
  text-transform: uppercase;
  font-size: 2.7vw;
  font-weight: 500;
  margin-bottom: 7vh;
}

.elem {
  height: 15.5vh;
  width: calc(100% - 4vw);
  /* background-color: red; */
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
}

.elem img {
  height: 120px;
  width: 120px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  left: 17%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all linear 0.4s;
  opacity: 0;
}

.elem h4 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
  /* background-color: red; */
}

.elem .elem-part2 {
  width: 45%;
}

.elem-part2 h1 {
  font-size: 2vw;
  font-weight: 500;
}

.elem-part2 h5 {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}

.elem:hover img {
  opacity: 1;
  left: 25%;
}

#marque {
  /* height: 15vh; */
  width: calc(100% - 2vw);
  /* background-color: red; */
  /* display: flex; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1vw;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
}

#marque h1 {
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  letter-spacing: 3px;
  margin-right: 16px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#footer {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  #nav {
    height: 8vh;
    width: calc(100% - 10vw);
    margin-top: 20px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 40%;
    justify-content: flex-start;
    font-size: 24px;
    letter-spacing: 1px;
  }

  #nav h1::after {
    display: none;
  }

  #nav h1::before {
    display: none;
  }

  #nav h2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
    display: none;
    /* background-color: red; */
  }

  #nav h3 {
    display: initial;
  }

  #center {
    height: calc(80% - 8vw);
  }

  #overlay {
    height: calc(25% - 6vw);
    backdrop-filter: blur(10px);
  }

  #over1 h1 {
    font-size: 5vw;
  }

  #over1 h2 {
    font-size: 4vw;
  }

  #over2 h4 {
    font-size: 3vw;
  }

  #over2 img {
    height: 6vw;
  }

  #scroll {
    height: 25vh;
    /* background-color: red; */
    width: 100%;
    margin: 20px 0;
  }

  #container {
    height: calc(100% - 4vw);
    width: calc(225% - 4vw);
    /* background-color: blue; */
    display: inline-block;
    /* border: 1px solid black; */
    padding: 3vw;
  }

  #container img {
    height: 20vh;
    width: 20vh;
  }

  #alphabet {
    /* background-color: red; */
    gap: 0vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #alphabet h5 {
    font-size: 4vw;
    letter-spacing: 1px;
    margin-right: 2vw;
  }

  #alphabet h6 {
    font-size: 3vw;
    letter-spacing: 4px;
    padding: 0vw 0vw;
  }

  #page2 {
    height: calc(100% - 4vw);
    width: calc(100% - 10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 2vw 5vw;
  }
  
  #page2-part1 {
    height: 100%;
    width: 100%;
    background-color: yellow;
    background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWwlMjB3b21hbnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
  }
  
  #page2-part2 {
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZWwlMjB3b21hbnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    align-self: flex-start;
  }

  #page3 {
    height: calc(100% - 10vw);
    width: calc(100% - 8vw);
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
  }
  
  #page3 > h1 {
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 4vh;
  }
  
  .elem {
    height: 20.5vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0vw;
    position: relative;
  }
  
  .elem img {
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all linear 0.4s;
    opacity: 1;
  }
  
  .elem h4 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 20%;
    /* background-color: red; */
  }
  
  .elem .elem-part2 {
    width: 45%;
  }
  
  .elem-part2 h1 {
    font-size: 4vw;
    font-weight: 700;
  }
  
  .elem-part2 h5 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .elem:nth-last-child(1) {
    border-bottom: 2px solid black;
  }

  #marque {
    /* height: 15vh; */
    width: calc(100% - 2vw);
    /* background-color: red; */
    /* display: flex; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
  }
  
  #marque h1 {
    display: inline-block;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 3px;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  #footer {
    height: 0%;
    width: 0%;
  }
}
