* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: #F8F8F8;
    position: relative;
    padding: 1px;
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    /* background-color: yellow;  */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -2px;
}

#nav h2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
    /* background-color: red; */
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#center {
    height: calc(90% - 8vw);
    width: calc(100% - 8vw);
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: blue;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: calc(52% - 6vw);
    width: calc(100% - 6vw);
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3vw;
}

#over1 h2 {
    font-size: 1vw;
    padding: 2.2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 5px solid #fff;
}


#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2  h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2  img {
    height: 3vw;
}